<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../css/admin/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.css">

    <!-- Style -->
    <link rel="stylesheet" href="../../css/admin/register.css">
    <link rel="stylesheet" href="../../css/validation/estiloValidacion.css">

    <link rel="shortcut icon" href="../../resources/logo.png">

    <title>Play Soccer | Registro </title>
</head>

<body>


    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 py-5">
                        <h3>Registro PlaySoccer <img src="../../resources/logo.png" class="img-fluid logo" alt=""></h3>
                        <p class="mb-4">Crea una cuenta para poder tener acceso a todas las funciones del sistema </p>
                        <main>
                            <form method="post" class="formulario" id="formulario">
                                <!-- Input de  Nombre-->
                                <div class="formulario__grupo" id="grupo__nombre">
                                    <label for="nombre" class="formulario__label">Nombre</label>
                                    <div class="formulario__grupo-input">
                                        <input minlength="4" maxlength="11" type="text" class="formulario__input" id="nombre" name="nombre" autocomplete="off" placeholder="Jhon">
                                        <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <p class="formulario__input-error">El nombre del clietne tiene que ser de 4 a 10 dígitos y solamente puede contener número letras y guión bajo</p>
                                </div>
                            
                                <!-- Input de  Nombre-->
                                <div class="formulario__grupo" id="grupo__apellido">
                                    <label for="nombre" class="formulario__label">Apellido</label>
                                    <div class="formulario__grupo-input">
                                        <input minlength="4" maxlength="15" type="text" class="formulario__input" name="apellido" id="apellido" autocomplete="off" placeholder="Smith">
                                        <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <p class="formulario__input-error">El apellido del cliente tiene que ser de 4 a 16 dígitos y solamente puede contener número letras y guión bajo</p>
                                </div>
                            
                                <!-- Input de Contraseñas -->
                                <div class="formulario__grupo" id="grupo__password">
                                    <label for="password" class="formulario__label">Contraseña</label>
                                    <div class="formulario__grupo-input">
                                        <input type="password" class="formulario__input" name="password" id="password" autocomplete="off">
                                        <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <p class="formulario__input-error">La contraseña debe de ser de 4 a 12 dígitos</p>
                                </div>
                            
                                <!-- Input de Contraseñas 2-->
                                <div class="formulario__grupo" id="grupo__password2">
                                    <label for="password2" class="formulario__label">Repetir contraseña</label>
                                    <div class="formulario__grupo-input">
                                        <input type="password" class="formulario__input" name="password2" id="password2">
                                        <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <p class="formulario__input-error">Ambas contraseñas deben de ser iguales</p>
                                </div>
                            
                                <!-- Input de documento -->
                                <div class="formulario__grupo" id="grupo__documento">
                                    <label for="telefono" class="formulario__label">DUI</label>
                                    <div class="formulario__grupo-input">
                                        <input type="text" class="formulario__input" name="documento" id="documento" placeholder="00000000-0">
                                        <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <p class="formulario__input-error">Su número de DUI solo puede contener un guión</p>
                                </div>

                                <!-- Input de Correo-->
                                <div class="formulario__grupo" id="grupo__correo">
                                    <label for="correo" class="formulario__label">Correo Electrónico</label>
                                    <div class="formulario__grupo-input">
                                        <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
                                        <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <p class="formulario__input-error">El correo solo puede contener letras, números, punto, guiones y guión bajo</p>
                                </div>
                            
                                <!-- Input de Telefono -->
                                <div class="formulario__grupo" id="grupo__telefono">
                                    <label for="telefono" class="formulario__label">Teléfono</label>
                                    <div class="formulario__grupo-input">
                                        <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="0000-0000">
                                        <i class="formulario__validacion-estado fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <p class="formulario__input-error">El teléfono solo puede contener 8 dígitos y un guión</p>
                                </div>

                                <!-- Input de Foto -->
                                <div class="input-file" id="archivo">
                                    <label for="foto" class="formulario__label">Elige una foto</label>
                                    <input type="file" class="upload" name="foto" id="foto">
                                </div>
                            
                                <!-- Terminos y condiciones -->
                                <div class="formulario__grup" id="grupo__terminos">
                                    <label class="formulario_label">
                                        <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                                        Acepto terminos y condiciones
                                    </label>
                                </div>
                            
                                <div class="formulario__mensaje" id="formulario__mensaje">
                                    <p class="text-dark"><i class="fa-solid fa-triangle-exclamation"></i> <b>Error</b> por favor llena el formulario correctamente</p>
                                </div>
                            
                                <div class="formulario__grupo formulario__grupo-btn-enviar">
                                    <button type="submit" class="btn-outline-success formulario__btn">Enviar</button>

                                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente</p>
                                </div>
                            </form>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Recursos para Bootstrap -->
    <script src="../../js/plugin/components/jquery-3.6.0.min.js"></script>
    <script src="../../js/bootsrtap/popper.min.js"></script>
    <script src="../../js/bootsrtap/bootstrap.js"></script>

    <!--Sweet Alert-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--Controladores JS-->
    <script src="../../controller/components.js"></script>
    <script src="../../controller/admin/register.js"></script>

    <!-- Validaciones -->
    <script src="../../js/validation/validaciones.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/7cef28abfd.js" crossorigin="anonymous"></script>
</body>

</html>