<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/admin/main.css">

    <link rel="shortcut icon" href="../../resources/logo.png">
    <title>Registrarse</title>
</head>

<body>
    <main>
        <div class="registro-fondo">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center align-items-center con-re">
                    <div class="col-sm-12 col-md-10 col-lg-7 d-flex justify-content-center align-items-center">
                        <div class="col-7 registro-col">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <img class="login-icon" src="../../resources/logo.png" alt="..">
                                    <h1 class="titulo-log"> Play Soccer</h1>
                                    <h4 class="titulo-log">Registrarse</h4>
                                    <div class="col-10 mt-3 l-inp">
                                        <label>Nombre:</label>
                                        <label class="nombre-lbl">Apellido:</label>
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <input type="text" name="" id="" placeholder="nombres" class="nombre-input">
                                        <input type="text" name="" id="" placeholder="apellidos" class="apellido-input">
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <label>Correo electrónico:</label>
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <input type="text" name="" id="" placeholder="nombre@ejemplo.com"
                                            class="login-input">
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <label>DUI:</label>
                                        <label class="dui-lbl">Celular:</label>
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <input type="text" name="" id="" placeholder="12345678-9" class="dui-input">
                                        <input type="text" name="" id="" placeholder="1234-5678" class="celular-input">
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <label>Tipo empleado:</label>
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <select class="form-select tipoe-input" aria-label="Default select example">
                                            <option selected>Rol del empleado</option>
                                            <option value="1">Administrador</option>
                                            <option value="2">Supervisor</option>
                                            <option value="3">Vendedor</option>
                                        </select>
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <label>Contraseña:</label>
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <input type="password" name="" id="" placeholder="ejemplo26"
                                            class="login-input">
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <label>Confirmar contraseña:</label>
                                    </div>
                                    <div class="col-10 mt-3 l-inp">
                                        <input type="password" name="" id="" placeholder="confirmación"
                                            class="login-input">
                                    </div>
                                    <div class="col-10 mt-3 d-flex justify-content-end">
                                        <a href="main.html">¿Ya tiene cuenta?</a>
                                    </div>
                                    <div class="col-10 mt-3 l-inp d-flex justify-content-center">
                                        <a href="inicio.html">
                                            <botton class="color-btn">Registrarse
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../../js/bootstrap.min.js"></script>
</body>

</html>