@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --navvbar: #243742;
  --card: #F5F7FB;
  --hovers: rgba(132, 232, 90);
}

.actions{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.margin__btn{
    margin-right: 10px;
}

.perfiles{
    height: 60px;
    border-radius: 5px;
}

td,th{
    vertical-align: middle;
}

.colorPicker{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header{
    background-color: var(--card);
}

.textos{
    font-family: 'Roboto', sans-serif;
}

.principales{
    vertical-align: middle;
}

.icon{
    color: #FD7E14;
}

.imput{
    display: flex;
    align-items: center;
    justify-content: center;
}