<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="shortcut icon" href="../../../resources/img/images/error.png">

    <link rel="stylesheet" href="../../../css/server/500.css">

    <title>SERVER | ERROR!</title>
</head>

<body>
    <div class="container">
        <section class="centered">
            <img src="../../../resources/svg/undraw_server_down_500.svg" class="img-fluid server" alt="">
            <h1>500 Server Error</h1>
            <div class="container text-center   ">
                <span class="message" id="js-whoops"></span> <span class="message" id="js-appears"></span> <span class="message"
                    id="js-error"></span> <span class="message" id="js-apology"></span>
                <div><span class="hidden" id="js-hidden">Message Here</span></div>
            </div>
        </section>
    </div>

    <script src="../../../js/server/500.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>